<% content_for :title, "Orphans" %>

<h1>Orphans</h1>

<% if @things.present? %>
  <ul>
    <%- for thing in @things -%>
      <li><%= link_to thing.name, thing %></li>
    <%- end -%>
  </ul>
<% end %>

