<html>

  <head>
    <title>Movies</title>
  </head>

  <body>
    <div id="content">

      <div id="detail">
        <h1>Movies</h1>

        <div id="body">
          <p>
            As I watch too many movies too have a favorite I have compiled a
            list of all my favorites.
          </p>
        </div>

        <!-- Really I want this to be a multi-quicksearch -->
        <div id="parents">
          <span>Parents</span>

          <ul>
            <li>Examples</li>
          </ul>
        </div>
      </div>

      <ul id="children">
        <li><span class="name">In Brouge</span></li>
        <li><span class="name">Inception</span></li>
        <li>
          <span class="name">Star Wars</span>

          <ul>
            <li><span class="name">Return of the Jedi</span></li>
            <li><span class="name">The Empire Strikes Back</span></li>
            <li><span class="name">A New Hope</span></li>
            <li><span class="name">Attack of the Clones</span></li>
            <li><span class="name">Revenge of the Sith</span></li>
            <li><span class="name">The Clone Wars</span></li>
          </ul>
        </li>
        <li><span class="name">Never let me go</span></li>
        <li><span class="name">Inception</span></li>
      </ul>

    </div>
  </body>

</html>

