<% content_for :title, @thing.name %>

<div id="detail">
  <h1><%= @thing.name %></h1>

  <div id="body">
    <%= simple_format @thing.body %>
  </div>

  <!-- Really I want this to be a multi-quicksearch -->
  <% if @thing.parents.present? %>
    <div id="parents">
      <span>Parents</span>

      <ul>
        <% for parent in @thing.parents %>
          <li><%= link_to parent.name, parent %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= render :partial => "things", :object => @thing.children %>

